/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-color: oklch(var(--primary));
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1031;
  height: 2px;
  width: 100%;
}

/* Fancy blur effect */
#nprogress .peg {
  position: absolute;
  right: 0;
  display: block;
  height: 100%;
  width: 100px;

  box-shadow:
    0 0 10px hsl(var(--primary)),
    0 0 5px hsl(var(--primary));
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px);
}

/* Spinner */
#nprogress .spinner {
  position: fixed;
  top: 1rem; /* top-4 */
  right: 1rem; /* right-4 */
  z-index: 1031;
  display: none;
}

#nprogress .spinner-icon {
  width: 1rem; /* size-4 */
  height: 1rem;
  border-radius: 9999px;

  border: 2px solid transparent;
  border-top-color: hsl(var(--primary));
  border-left-color: hsl(var(--primary));

  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
